body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
  align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    color: #000;
    height: 500px;
    width: 100%;
    overflow: hidden;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #000000;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #000000;
}

.content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}


.content div {
    margin: 0 0 30px;
    width: 100%;
}

.content div p {
    position: absolute;
    bottom: 0;
}

#experience div p{
    color: red;
}

.content .text-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.grow {
    transition: all .2s ease-in-out;
}

.content .text-overlay p{
    display: none;
}

.content .text-overlay p:hover{
    display: block;
}

.grow:hover {
    transform: scale(1.1);
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0;
    color: #fbd1d5;
    text-shadow: none;
    background-color: #ffffff;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
}

.btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
}

footer {
    font-size: 12px;
    padding: 20px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}
